.form-body {
  margin: auto;
  width: 50%;
  padding: 10px;
  background: tan;
}

.header {
  font-weight: 500;
}

.form {
  margin: auto;
  width: 100%;
}

.listed-items {
  border-bottom: 1px gray;
}

.listed-tasks i {
  color: red;
  margin-top: 5px;
  display: inline-block;
  float: right;
  font-size: small;
}

.listed-tasks {
  list-style: none;
}