.form-body {
  margin: auto;
  width: 50%;
  padding: 10px;
  background: tan;
}

.header {
  font-weight: 500;
}

.form {
  margin: auto;
  width: 100%;
}

.listed-items {
  border-bottom: 1px gray;
}