.form-body {
  margin: auto;
  width: 50%;
  padding: 10px;
  background: #eee;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
}

.header {
  font-weight: 500;
}

.form {
  margin: auto;
  width: 100%;
}

.listed-items {
  border-bottom: 1px gray;
  width: 70%;
    margin: auto;
}

.listed-tasks i {
  color: red;
  margin-top: 5px;
  display: inline;
}

.listed-tasks {
  list-style: none;
  border-bottom: 1px solid gray;
  width: 100%;
}

.delete {
  display: none;
}

.listed-tasks .delete{
  visibility: hidden;
  }
  
.listed-tasks:hover .delete {
  visibility: visible;
  float: right;
}

.counter {
  display: block;
  margin-left: 35%;
  margin-right: 20%;
  width: 50%;
}

